{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
 
	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'">
    <title>{% block title %}Hello, world!{% endblock %}</title>
    <script language="JavaScript" type="text/javascript">
      function login(showhide){
      if(showhide == "show"){
          document.getElementById('popupbox').style.visibility="visible";
      }else if(showhide == "hide"){
          document.getElementById('popupbox').style.visibility="hidden"; 
      }
      }
      </script>
 
  </head>
  <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="{% url 'index' %}">BreeBus Reservation System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About Us</a>
                    </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Bookings
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'bookbus' %}">Book Bus</a>
                            <a class="dropdown-item" href="{% url 'ticketdetails' %}">Booking Status</a>
                            
                        </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
                    </li>
                  </ul>
                  
               </div>
               
               
                
                    <div id="popupbox"> 
                        <div class="container">
                                <div class="d-flex justify-content-center h-100">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3>Sign In</h3>
                                            <div class="d-flex justify-content-end social_icon">
                                                <span><i class="fab fa-facebook-square"></i></span>
                                                <span><i class="fab fa-google-plus-square"></i></span>
                                                <span><i class="fab fa-twitter-square"></i></span>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <form name="login" action="" method="post"> 
                                                <div class="input-group form-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="username">
                                                    
                                                </div>
                                                <div class="input-group form-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                                    </div>
                                                    <input type="password" class="form-control" placeholder="password">
                                                </div>
                                                <div class="row align-items-center remember">
                                                    <input type="checkbox">Remember Me
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" value="Login" class="btn float-right login_btn">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-footer">
                                            <div class="d-flex justify-content-center links">
                                                Don't have an account?<a href="#">Sign Up</a>
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <a href="#">Forgot your password?</a>
                                                <div >
                                                <center><a href="javascript:login('hide');">close</a></center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                </div> 
                
               
                <p>Not yet signed in? <a href="javascript:login('show');">login</a></p>
              </nav>

              
            
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
<footer>
    <div class="footer-wrapper">
      <div class="container">
          <div class="row">
              
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mbt">
                <h2>About BreeBus</h2>
                <p>All you need to know</p>

              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
               
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
               
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
               
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <h2>Contact us</h2>
                <address class="contact-details">
                    <span class="contact-phone"><i class="soap-icon-phone"></i> 
                    <a href="#" class="contact-email">0703 462 665</a></span>
                    <br />
                    <span class="contact-phone"><i class="soap-icon-message"></i> <a href="/cdn-cgi/l/email-protection#a0c9cec6cfe0c2d5d5d0c1d3d38ec3cfcd" class="contact-email"><span class="__cf_email__" data-cfemail="d0b9beb6bf90b2a5a5a0b1a3a3feb3bfbd">[email&#160;protected]</span></a></span>
                </address>
               </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  
              </div>
          </div>
      </div>
  </div>

          <div class="copyright pull-center">
              <p>&copy; 2019 BreeBus</p>
          </div>
      </div>
  </div>
</footer>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>