{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="(% static 'style1.css' %)" >

    <title>{% block title %}Hello, world!{% endblock %}</title>
    

  </head>
  <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="{% url 'index' %}">BreeBus Reservation System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About Us</a>

                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Bookings
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'bookbus' %}">Book Bus</a>
                            <a class="dropdown-item" href="{% url 'ticketdetails' %}">Booking Status</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <div class="footer-wrapper">
      <div class="container">
          <div class="row">
              
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mbt">
                <h2>About BuuPass</h2>
                <p>Kenya's #1 marketplace for bus, shuttle, and train bookings. Book anytime, anywhere, from any phone using *877# or www.buupass.com</p>

              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
               
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
               
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
               
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <h2>Contact us</h2>
                <address class="contact-details">
                    <span class="contact-phone"><i class="soap-icon-phone"></i> 
                    <a href="#" class="contact-email">0715 763 362</a></span>
                    <br />
                    <span class="contact-phone"><i class="soap-icon-message"></i> <a href="/cdn-cgi/l/email-protection#a0c9cec6cfe0c2d5d5d0c1d3d38ec3cfcd" class="contact-email"><span class="__cf_email__" data-cfemail="d0b9beb6bf90b2a5a5a0b1a3a3feb3bfbd">[email&#160;protected]</span></a></span>
                </address>
               </div>
              <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                  
              </div>
          </div>
      </div>
  </div>
  <div class="bottom gray-area">
      <div class="container">
          <div class="logo pull-left">
              <a href="https://buupass.com/" title="Buupass">
                  <img src="https://buupass.com/app/themes/bus/assets/images/footer_logo.png" alt="Buupass logo" />
              </a>
          </div>
          <div class="pull-right hidden-mobile">
              <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
          </div>     
          <div>     
                  <ul class="social-icons pull-right mt-15 clearfix">
                      <li class="twitter"><a title="twitter" href="https://twitter.com/BuuPass" target="_blank" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                      <li class="googleplus"><a title="instagram" href="https://www.instagram.com/buupass/"  target="_blank" data-toggle="tooltip"><i class="soap-icon-instagram"></i></a></li>
                      <li class="facebook"><a title="facebook" href="https://www.facebook.com/BuuPass/"  target="_blank" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                      <li class="linkedin"><a title="linkedin" href="https://www.linkedin.com/company/buupass"  target="_blank" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                  </ul>
                </div>
          <div class="copyright pull-right">
              <p>&copy; 2019 Buupass.com</p>
          </div>
      </div>
  </div>
</footer>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>